<label>
    Correct answer
    {{input value=source.answer
          type="number"
          required="true"}}
</label>

<label>
    Tolerated error
    {{input value=source.max_error
          type="number"
          required="true"}}
</label>
