<div class="edit-block">
    <div class="edit-title">Correct Answer</div>
    <div class="edit-text">
        {{input value=source.answer
              type="number"
              class="ember-text-field"
              required="true"}}
    </div>
</div>
<div class="edit-block">
    <div class="edit-title">Tolerated Error</div>
    <div class="edit-text">
        {{input value=source.max_error
              type="number"
              class="ember-text-field"
              required="true"}}
    </div>
</div>
<div class="edit-block">
  <div class="edit-title">Answer ± Error will be accepted</div>
</div>
