<div class="edit-title">
  Any text response will be graded as correct.<br>
  To grade each text manually at the submission list, check the "Manual scoring" below.</div>
<div class="options">
  <label class="option">
    {{input checked=source.manual_scoring
          type="checkbox"
          required="true"}}
    Manual scoring
  </label>
</div>
