<div class="edit-title">This is dataset quiz</div>
<div class="edit-text">

{{view App.CodeEditorView
    valueBinding='source.code'
    required='true'
    lang='python'
    placeholder="Type your code here..."}}

{{web-console code=source.code}}
</div>