<div class="edit-title">Enter your code below.</div>
<div class="edit-text">

{{view CodeEditorView
    value=source.code
    lang='python'
    placeholder="Type your code here..."}}

{{web-console code=source.code}}
</div>
<hr>
<div class="right">See <a target="_blank" href="{{st_config.project_main_instance_url}}lesson/9172/step/1">Documentation: Data</a> for docs and examples.</div>
