<div class="edit-title">See <a href="/lesson/9172">Step: Data</a> for docs and examples.</div>
<div class="edit-title">Enter your code below.</div>
<div class="edit-text">

{{view App.CodeEditorView
    valueBinding='source.code'
    required='true'
    lang='python'
    placeholder="Type your code here..."}}

{{web-console code=source.code}}
</div>
