{{#unless disabled}}
  <a  {{bind-attr href="dataset_url"}} class="get_dataset" title="dataset file link">Download dataset</a>
{{/unless}}

{{#if is_dataset_downloaded}}
    {{view App.AutoResizeTextView
    required=true
    valueBinding="reply.text"
    placeholder="Type your answer here..."
    disabledBinding="is_input_disabled"}}
{{else}}
    {{view App.AutoResizeTextView
    required=true
    valueBinding="reply.text"
    placeholder="Download dataset first"
    disabled=true}}
{{/if}}
