{{#each selections}}
  <label class="option">
    <input
            type="radio"
            name="options"
            class="option__input"
        {{#if ../disabled}}disabled{{/if}}
        {{#if is_checked}}checked{{/if}}>
    <span class="option__text">{{ text }}</span>
  </label>
{{/each}}
