<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Stepic Plugin sandbox" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
  <script src="../static/js/main.js"></script>
  <link rel="stylesheet" href="https://stepic.org/static/classic/css/lib.min.css?v=1392296272"/>
  <link rel="stylesheet" href="https://stepic.org/static/classic/css/app.min.css?v=1392296272"/>
  <meta charset="utf-8">
  <title>Stepic Plugin</title>
</head>
<body>
<script>
    QUIZ_NAME = '{{quiz_name}}';
    QUIZ_NAME_CAMELIZED = '{{quiz_name_camelized}}';
</script>

<h1 class="text-center">{{quiz_name}}</h1>

<div class="row">
  <div class="row">
    <div class="small-6 columns">
      <div id="edit-quiz">

      </div>
    </div>
    <div class="small-6 columns">
      <label>
        Update request
        <textarea id="show-update-request" disabled></textarea>
      </label>
      <label>
        Update response
        <textarea id="show-update-response" disabled></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <button class='button' id='update-quiz'>Update Quiz</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="row">
    <div class="small-6 columns">
      <div id="show-quiz"></div>
    </div>
    <div class="small-6 columns">
      <label>
        Submit request/Get Dataset response
        <textarea id="show-submit-request" disabled></textarea>
      </label>
      <label>
        Submit response
        <textarea id="show-submit-response" disabled></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <button class='button' id='get-dataset'>Get Dataset</button>
    <button class='button' id='submit-quiz'>Submit</button>
    <button class='button' id='disable-quiz'>Disable</button>
  </div>
</div>
</body>
</html>
