<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Stepik Plugin sandbox" />
  <link rel="stylesheet" href="http://stepik.org/static/css/all.min.css"/>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="../static/js/dev.js"></script>
  <script src="../static/js/main.js"></script>
  <meta charset="utf-8">
  <title>Stepik Plugin</title>
</head>
<body>
  <script>
   QUIZ_NAME = '{{quiz_name}}'
  </script>
{% raw %}
<script type="text/x-handlebars">
  <div class="step-player-wrap">
    <div class="step-player">
      <div class="bar-wrp">
        <div class="bar"></div>
      </div>

      <div class="player-content-wrapper">
        <div class="step-view">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi bibendum neque mauris, ut cursus lectus placerat
          non. Ut sed imperdiet lorem, eget lacinia sem. Praesent
          sodales est vitae sem tincidunt luctus. Quisque dignissim
          bibendum dui, at elementum elit volutpat interdum. Donec at
          fermentum felis, id ornare erat. Nunc elit nisl, tincidunt
          id fringilla ac, viverra ut nibh. Praesent hendrerit
          faucibus metus ac posuere. Duis suscipit metus eu magna
          gravida vehicula.
          <hr></hr>

          <div class="attempt-wrapper">
            {{#if model.has_dataset}}
              {{quiz-plugin viewName="pluginInstance"
                            config=model.config
                            dataset=model.display.dataset
                            reply=model.display.reply
                            previous_reply=model.display.previous_reply
                            is_reply_ready=model.display.is_reply_ready
                            content=model.display.content
                            disabled=model.display.disabled}}
            {{/if}}
          </div>

          <div class="plugin-editor">
            <div class="plugin-editor__wrapper">
              {{quiz-editor viewName='quizEditorInstance'
                            config=model.config
                            source=model.editor.source}}
            </div>
          </div>

          <button {{action 'updateSource' target='view'}}>Save Quiz</button>
          <br></br>
          <button {{action 'attempt'}}>New Attempt</button>
          <button {{action 'submit' target='view'}}>Submit</button>
          <button class="secondary" {{action 'disable'}}>Disable</button>
        </div>
      </div>
      <div class="bar-wrp footer">
        <div class="bar bar-footer"></div>
      </div>
      <div class="log__wrapper">
        <h2>Log:</h2>
          <pre style="max-height: 500px; overflow: scroll; border: solid 1px;">
            {{#each entry in model.log}}
        {{entry}}
          {{/each}}
        </pre>
      </div>
    </div>
  </div>

</script>
{% endraw %}

<h1 class="text-center">{{quiz_name}}</h1>

</body>
</html>
