<div class="options">
    <label class="option">
      <span title="Image that is used to create new virtual machine instance" class="edit-tooltip">Image ID:</span>
      {{input type="number" name="image_id" value=source.image_id}}
    </label>
    <label class="option">
      <span>Memory Limit (MB):</span>
      {{input type="number" name="memory" value=source.memory}}
    </label>
</div>
