.quiz-editor__bootstrap-script {
  height: 355px;
  overflow: hidden;
  transition: height 1s;
}

.quiz-editor__bootstrap-script_hidden {
  height: 0;
}

.quiz-editor__is-bootstrap-label {
  display: inline;
}

/**
 * Terminal
 */

.window {
  padding-top: 15px;
  border: #fafafa solid 1px;
  background: #272829;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
}

.maximized .window {
  border: none;
  box-shadow: none;
}

.window .bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13px;
  padding: 4px 0;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  color: #fafafa;
}

.dark .bar,
.maximized .bar {
}

.title {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 11px;
  cursor: default;
}

.tab {
  font-size: 11px;
  margin-left: 4px;
  float: left;
  cursor: pointer;
}

.tab:hover {
  font-weight: bold;
}

.grip {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  cursor: se-resize;
  z-index: -1;
  background: transparent;
}

.grip:hover {
}

.terminal {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}
