<div class="edit-title">
  Correct answer (user's response should perfectly match this string):
</div>
<div class="edit-text">
    {{input value=source.pattern
          type="text"
          required="true"}}
</div>
<div class="options">
    <label class="option">
        {{input checked=source.match_substring
              type="checkbox"
              required="true"}}
      <span title="Correct response may contain your string at any position. For example, 'the best of' is a substring of 'It was the best of times'." class="edit-tooltip">Allow match as a substring</span>
    </label>

    <label class="option">
    {{input checked=source.use_re
          type="checkbox"
          required="true"}}
      <span title="You can specify the rules for the set of possible strings that you want to match." class="edit-tooltip">
        Allow <a href="https://docs.python.org/3/howto/regex.html">regular expressions</a> (geeks only)
      </span>
    </label>

    <label class="option">
        {{input checked=source.case_sensitive
              type="checkbox"
              required="true"}}
       <span title="Check to differ 'A' from 'a'" class="edit-tooltip">Case sensitive</span>
    </label>
</div>


