<ol class="matching-quiz__second-items">
  {{#each pairs}}
    <li draggable="true" class="matching-quiz__second-item">
      <div class="matching-quiz__second-item_number">{{@index}}</div>
      <span>{{this.second}}</span>
      <span class="matching-quiz__arrow-up">&uarr;</span>
      <span class="matching-quiz__arrow-down">&darr;</span>
    </li>
  {{/each}}
</ol>

<ol class="matching-quiz__first-items">
  {{#each pairs}}
    <li class="matching-quiz__first-item">
      <span>{{this.first}}</span>
    </li>
  {{/each}}
</ol>
