.matching-quiz__first-items {
  list-style: decimal inside;
  width: 45%;
}

.matching-quiz__second-items {
  list-style: lower-greek inside;
  width: 45%;
  float: right;
}

.matching-quiz__first-item,
.matching-quiz__second-item {
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    color: #222222;
    border-collapse: collapse;
    margin-top: -1px;
    padding: .4em 1.28571em;
}

.matching-quiz__first-item {
  text-align: right;
}

.matching-quiz__second-item {
  cursor: move;
  text-align: left;
}

.matching-quiz__second-item_number {
    display: none;
}
