.matching-quiz__first-items {
  width: 49%;
  margin-right: 2%;
  float: right;
}

.matching-quiz__second-items {
  width: 49%;
  float: right;
}

.matching-quiz__first_text {
  float: right;
  margin-right: 1em;
}

.matching-quiz__clearfix {
  clear: both;
}
.matching-quiz__half-item-edit {
  width: 49%;
  float: left;
}
.matching-quiz__gap{
  width: 2%;
  float: left;
  margin-top: 1.5em;
  background-color: #aeaeae;
}

.matching-quiz-edit__first-input-container {
  margin-left: 1em;
  margin-right: 0;
}

.matching-quiz-edit__second-input-container {
  margin-left: 0;
  margin-right: 6em;
}
