.matching-quiz__first-items {
  list-style: none;
  width: 49%;
  margin-right: 2%;
  float: right;
}

.matching-quiz__second-items {
  list-style: none;
  width: 49%;
  float: right;
}

.matching-quiz__first-item,
.matching-quiz__second-item {
  border-bottom: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3;
  color: #222;
  border-collapse: collapse;
  margin-top: -1px;
  padding: .4em 1.28571em;
}

.matching-quiz__second-item.matching-quiz__item-extracted {
    background-color: #ffffff;
    opacity: 0.4;
}

.matching-quiz__second-item.matching-quiz__item-insert-after {
    border-bottom: 3px solid #000;
}

.matching-quiz__second-item.matching-quiz__item-insert-before {
    border-top: 3px solid #000;
}

.matching-quiz__first-item {
  text-align: right;
}

.matching-quiz__second-item {
  cursor: move;
  text-align: left;
}
.matching-quiz__second-item.matching-quiz__disabled {
  cursor: default;
}
.matching-quiz__second-item_number {
  display: none;
}

.matching-quiz__arrow-up, .matching-quiz__arrow-down {
    float: right;
    cursor: pointer;
    width: 2em;
}

.matching-quiz__second-item:last-child .matching-quiz__arrow-down,
.matching-quiz__second-item:first-child .matching-quiz__arrow-up {
    color: #d3d3d3;
    pointer-events: none;
    cursor: move;
}
