<div class="edit-title">GeoGebra file (ggbbase64):</div>
<div class="edit-text">
        {{textarea
              value=source.ggbbase64
              class="ember-text-field"
              required="true"}}
</div>
