<div style="display:block;min-width:631px;min-height:400px" id="applet_container">
    <div style="position: relative; display: block; width: 631px; height: 400px;">
      <article class="notranslatenotranslate geogebraweb" data-param-id="ggbApplet" data-param-width="631" data-param-height="400" data-param-showtoolbar="false" data-param-showmenubar="false" data-param-showalgebrainput="false" data-param-showreseticon="true" data-param-enablelabeldrags="false" data-param-enableshiftdragzoom="true" data-param-enablerightclick="false" data-param-showtoolbarhelp="false" data-param-errordialogsactive="true" data-param-usebrowserforjs="false"
               data-param-ggbbase64="{{unbound ggbbase64}}"
               data-param-language="en" data-param-ispreloader="false" data-param-screenshotgenerator="false" data-param-preventfocus="false" data-param-fixapplet="false" id="geogebraweb01415120877424" data-scaley="1" data-scalex="1" style="border: 0px solid rgb(211, 211, 211); display: inline-block;"><table cellspacing="0" cellpadding="0" class="GeoGebraFrame jsloaded" style="width: auto; height: auto; border: 1px solid rgb(211, 211, 211);"><tbody><tr><td align="left" style="vertical-align: top;"><div dir="ltr" style="position: relative; overflow: hidden; width: 629px; height: 398px;"><canvas height="398" width="629" id="View_1" dir="ltr" tabindex="0" style="position: absolute; z-index: 0; width: 629px; height: 398px;" class="cursor_default"></canvas></div></td></tr></tbody></table></article></div>

<script type="text/javascript">
  //<![CDATA[
  WebFontConfig = {
     loading: function() {},
     active: function() {},
     inactive: function() {},
     fontloading: function(familyName, fvd) {},
     fontactive: function(familyName, fvd) {},
     fontinactive: function(familyName, fvd) {},
     custom: {
         families: ["geogebra-sans-serif", "geogebra-serif"],
             urls: [ "/static/stepic_plugins/geogebra/web.geogebra.org/4.4/webSimple/css/fonts.css" ]
     }
  };
  //]]>
</script>
<script type="text/javascript" src="/static/stepic_plugins/geogebra/web.geogebra.org/4.4/webSimple//js/webfont.js"></script>
  <script src="/static/stepic_plugins/geogebra/web.geogebra.org/4.4/webSimple/webSimple.nocache.js"></script>c
</div>

Hello world!

