<div class="edit-title">Correct answer (math formula, see <a href="/lesson/Teaching-24/step/7">docs</a> for details):</div>
<div class="edit-text">
    {{input value=source.answer
          type="text"
          class="ember-text-field"
          required="true"}}
</div>
