.random-tasks-quiz-edit__component-container {
  margin-top: 1em;
}

.random-tasks-quiz-edit__textarea {
  width: 100%;
  height: 5em;
  margin-top: 1em;
}

.random-tasks-quiz-edit__small-textarea {
  width: 20%;
  height: 2em;
  margin-top: 1em;
  resize: none;
}

.random-tasks-edit__small-block {
  width: 33.3%;
  float: left;
  padding: 0 .7em;
}

.random-tasks-edit__half-block {
   width: 50%;
   float: left;
   padding: 0 .7em;
}

.random-tasks-edit__block {
   width: 100%;
   float: left;
   padding: 0 .7em;
}