<div class="edit-title">
    Please specify items below. Users will need to put them in the same order.<br>
    Don't forget to specify required order (e.g. ascending or descending) in the problem statement above.
</div>
<div class="edit-text">
  <div class="sort-options">
    {{#each options}}
      <div class="sort-option">
        <span class="drag-area" draggable="true"></span>
        <input type="text" class="text" value="{{this}}"/>
        <span class="remove"></span>
      </div>
    {{/each}}
  </div>
  <div class="add-option"></div>
</div>
<hr>
<div class="right">See <a href="/lesson/9178">Documentation: Sorting</a> for docs and examples.</div>
