<div class="options">
  {{#each options}}
    <div class="option">
      <input type="text" class="text" value="{{this}}"/>
    </div>
  {{/each}}
</div>

<button class="button tiny sorting_quiz__add_button">+</button>
<button class="button secondary small sorting_quiz__clear_button">Clear</button>
