<div class="edit-title">Sort options</div>
<div class="edit-text">
    <div class="sort-options">
     {{#each options}}
      <div class="sort-option" draggable="true">
        <input type="text" class="text" value="{{this}}"/>
        <span class="remove"></span>
      </div>
      {{/each}}
     </div>
    <div class="add-option"></div>
</div>

