<div class="sorting-quiz__items">
  {{#each options}}
    <li draggable="true" class="sorting-quiz__item">
      <div class="sorting-quiz__item_number">{{@index}}</div>
      <span class="sorting-quiz__arrow-up">&uarr;</span>
      <span class="sorting-quiz__arrow-down">&darr;</span>
      <span>{{this}}</span>
    </li>
  {{/each}}
</div>
