<div class="sorting-quiz__items">
  {{#each row in options}}
    <li draggable="true" class="sorting-quiz__item">
      <div class="sorting-quiz__item_number">{{row.index}}</div>
      <span class="sorting-quiz__arrow-up" {{action 'moveIt' row -1}}>&uarr;</span>
      <span class="sorting-quiz__arrow-down" {{action 'moveIt' row 1}}>&darr;</span>
      <span class="sorting-quiz__item_text">{{row.text}}</span>
    </li>
  {{/each}}
</div>
