.sorting-quiz__items {
    list-style: none;
}

.sorting-quiz__item {
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    color: #222222;
    cursor: move;
    border-collapse: collapse;
    margin-top: -1px;
    padding: .4em 1.28571em;
}

.sorting-quiz__item.sorting-quiz__item-extracted {
    background-color: #ffffff;
    opacity: 0.4;
}

.sorting-quiz__item.sorting-quiz__item-insert-after {
    border-bottom: 3px solid #000;
}

.sorting-quiz__item.sorting-quiz__item-insert-before {
    border-top: 3px solid #000;
}

.sorting-quiz__item_number {
    display: none;
}

.sorting-quiz__arrow-up, .sorting-quiz__arrow-down {
    float: left;
    cursor: pointer;
    width: 2em;
}

.sorting-quiz__item:last-child .sorting-quiz__arrow-down,
.sorting-quiz__item:first-child .sorting-quiz__arrow-up {
    color: #d3d3d3;
    pointer-events: none;
    cursor: move;
}
