{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_python_bin }}
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ arena_dir }}/codejail-*/main
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_java_bin }}
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_octave_bin }}
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_shell_bin }}
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_r_runner_bin }}
{{ stepic_user }} ALL=({{ sandbox_user }}) NOPASSWD:{{ sandbox_mono_bin }}
{{ stepic_user }} ALL=(ALL) NOPASSWD:/usr/bin/pkill
