[program:{{ server_name }}.stepic-plugins]
command={{ stepic_plugins_venv_dir }}/bin/python rpcserver.py
process_name=%(program_name)s_%(process_num)d
numprocs=4
environment=LANG="en_US.UTF-8"
user={{ stepic_user }}
stdout_logfile={{ stepic_plugins_logs_dir }}/rpcserver.log
stdout_logfile_backups=0
directory={{ stepic_plugins_code_dir }}
autostart=true
autorestart=true
redirect_stderr=true
stopwaitsecs=60
startsecs=20
