<div class="edit-title">Correct answer (math formula):</div>
<div class="edit-text">
    {{input value=source.answer
          type="text"
          class="ember-text-field"
          required="true"}}
</div>
<hr>
<div class="right">See <a href="/lesson/9176">Documentation: Math</a> for docs and examples.</div>
