<div class="edit-title">Chemical expression (formula or equation):</div>
<div class="edit-text">
  {{input value=source.expression type="text" class="ember-text-field"}}
</div>
<div class="edit-title">Expression template:</div>
<div class="edit-text">
  {{input value=template_expr type="text" class="ember-text-field"}}
  You can use <b>#</b> (normal), <b>_</b> (sub), <b>^</b> (sup) and <b>-</b> (subsup).
</div>
