.choice-quiz-edit__input-container {
  margin-left: 3em;
  margin-right: 6em;
}

.choice-quiz-edit__checkbox {
  display: inline;
  float: left;
  font-size: 16px;
}

.choice-quiz-edit__checkbox-answer {
  margin-top: 1.1em;
  margin-left: 1em;
}

.choice-quiz-edit__checkbox-option {
  margin-right: 1em;
}

.choice-quiz-edit__toggle-explanations {
  float: right;
}

.choice-quiz-show__option-feedback {
  margin: 0 0 10px 0;
}
