<div>
  <span title="TBD">TRIK Studio save:</span>
  {{attachment-list attachments=source.studio_save maxFiles=1 maxSize=1048576}}
</div>

<div>
  <span title="TBD">Fields archive:</span>
  {{attachment-list attachments=source.fields_archive maxFiles=1 maxSize=1048576}}
</div>
