<div class="trik-quiz">
  <span title="Attach TRIK Studio save file (.qrs) with your solution">TRIK Studio save (solution):</span>
  {{attachment-list attachments=reply.studio_save disabled=disabled maxFiles=1 maxSize=1048576}}
</div>
