{{#each selections}}
  <label>
    <input
            type="radio"
            name="options"
        {{#if ../disabled}}disabled{{/if}}
        {{#if is_checked}}checked{{/if}}>
    <span>{{ text }}</span>
  </label>
{{/each}}
